@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300&family=Roboto+Condensed:wght@300&family=Roboto:wght@300&family=Special+Elite&display=swap');

body {
    background-color: #cdd6d8;
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 20.5V18H0v-2h20v-2H0v-2h20v-2H0V8h20V6H0V4h20V2H0V0h22v20h2V0h2v20h2V0h2v20h2V0h2v20h2V0h2v20h2v2H20v-1.5zM0 20h2v20H0V20zm4 0h2v20H4V20zm4 0h2v20H8V20zm4 0h2v20h-2V20zm4 0h2v20h-2V20zm4 4h20v2H20v-2zm0 4h20v2H20v-2zm0 4h20v2H20v-2zm0 4h20v2H20v-2z' fill='%23ffffff' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.container {
    border-radius: 50px;
    width: 600px;
    background-color: lightgrey;
    padding: 10px 10px;
}

.container h2 {
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
}

.container h4 {
    font-size: 18px;
    font-family: 'Oxygen', sans-serif;
}

.container img {
    border-radius: 50px;
    width: 500px;
}

.line {
    width: 500px;
    height: 2px;
    background-color: black;
}

.header {
    font-size: 30px;
    font-family: 'Roboto Condensed', sans-serif;
}

.header img {
    margin-left: 10px;
    width: 40px;
    height: 40px;
}

ol {
    list-style: none;
}

li {
    align-items: center;
}

.footer {
   
    position: fixed;
    color: #6c757d;
    bottom: 0;
    width: 100%;
    background-color: #f5f5f5;
    text-align: center;
    font-family: 'Special Elite', cursive;
}
